.catalog-page {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    font-family: var(--font-main);
}

.hero1 {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 18px;
    width: 280px;
    height: 406px;
    margin: 0 auto;
}
.movie-details,
.section {
    width: 100%;
    padding: 0;
    
}

.hidden {
    display: none;
}

.hero-backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

.movie-details {
    padding: 0px 20px;
    max-width: 320px;
    margin: 0 auto;
}

.movie-meta-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    font-size: 13px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.section-header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.section-header1 h2 {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    width: 184px;
    white-space: nowrap;
    padding-left: 20px;
    color: var(--color-text);
}

.section-header h2 {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    width: 123px;
    white-space: nowrap;
    padding-left: 19px;
    color: var(--color-text);
}

.section-header a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}

.see-all {
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
    padding-right: 20px;
}

.weekly-trends {
    width: 100%;
    padding: 0 20px;
    padding-bottom: 32px;
}

.monthly {
    position: relative;
    z-index: 3;
    display: block;
}

.monthly h1 {
    font-size: 18px;
    color: #fff;
}

.weekly-rating {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.weekly-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.movie-card {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    max-width: 280px;
    margin: 0 auto;
}

#moviesContainer{
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: 1fr;
}


#emptyMessage {
    display: none;
    gap: 8px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 48px;
    color: var(--color-text);
    width: 100%;
}



.movie-card img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}


.movie-card-overlay {
    position: absolute;
    display: flex;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0.6) 75%,
                rgba(0, 0, 0, 0.9) 100%);
    inset: 0;
    z-index: 1;
    border-radius: 5px;
}

.movie-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0));
}

.movie-card-text { 
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
}

.movie-card-text h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.67em;
    font-size: 12px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    text-transform: uppercase;
}

.movie-card-text p {
    color: rgba(183, 183, 183, 1);
    font-family: 500;
    font-size: 12px;
    line-height: 1.67;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    font-family: 500;
    font-size: 12px;
    line-height: 1.67em;
    opacity: 0.85;
    color: rgba(183, 183, 183, 1);
    white-space: normal;
    word-break: break-word;
}

.movie-meta {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
}

.movie-rating-stars {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 12px;
    gap: 0;
    bottom: 17px;
    line-height: 1;
    padding-bottom: 3px; 
    flex-shrink: 0;
    transform: scale(1.1);
}

.star {
    width: 18px;
    height: 18px;
    margin-right: -1px;
}

.movie-head {
    text-transform: uppercase;
    color:var(--color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    padding-left: 3px;
    padding-bottom: 20px;
}

#movieDate {
    color: #F87719;
}


#movieGenre{
    margin-right: 0;
    padding-right: 12px;
    transform: translateY(14px);
}

.meta-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-text);
    font-family: var(--font-main);
}



.meta-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.meta-row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.catalog-page,
.movie-details {
    max-width: 320px;
    margin: 0 auto;
}

#moviePopularity{
    padding-right: 20px;
    color: var(--color-text);
}

.movie-meta1 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.movie-details {
    max-width: 320px;
    margin: 0 auto;
}

.movie-about {
    margin-top: 20px;
}

.movie-about p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.5;
}
#movieVoteAvg {
    min-width: 32px;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

#movieVoteCount {
    min-width: 32px;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
}

.stick {
    color: rgba(248, 248, 248, 1);
}

#movieOverview {
   padding-top: 16px;
   text-align: justify;
   padding-bottom: 24px;
   font-size: 14px;
   font-weight: 400;
   color: var(--color-text);
   line-height: 1.43;
}

.no-upcoming {
    margin: 5px auto;
    padding: 0 20px;
    max-width: 320px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-bottom: 40px;
    color: var(--color-text);
}

#movieOverview::after {
    color: #F8F8F8;
}

.meta-value {
    min-width: 90px;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    line-height: 1.4;
    color: var(--color-text);
}

.genre {
    max-width: 160px;
    text-align: center;
    line-height: 1.4;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    color: var(--color-text);
}

.subButon {
    background: linear-gradient(to bottom,
                rgba(255, 194, 38, 1),
                rgba(248, 65, 25, 1));
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: rgba(17, 17, 17, 1);
    width: 121px;
    height: 38px;
    gap: 10px;
    margin-top: 20px;
    border-radius: 74px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.subButon:hover {
    background: var(--color-bg);
    border: 1px solid transparent;
    background-image:
            linear-gradient(var(--color-bg), var(--color-bg)),
            linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
}
#libraryToggleBtn{
    margin-bottom: 40px;
}

#libraryToggleBtn.active{
    white-space: nowrap;
    max-width: 176px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    background: var(--color-bg);
    border: 1px solid transparent;
    background-image:
            linear-gradient(var(--color-bg), var(--color-bg)),
            linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
    margin-bottom: 40px;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    padding: 20px;
}

.country-btn {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background: var(--color-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    cursor: pointer;
}


.search-input,
.search-select {
    height: 44px;
    padding: 0 14px;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-bg);
    color: var(--color-text);
}


.search-input {
    flex: 2;
    max-width: 173px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding-right: 36px;
}


.search-select {
    flex: 1;
    width: 95px;
    height: 40px;
}

.search-input,
.search-select {
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
}


.year-select {
    position: relative;
    background: var(--color-bg);
    width: 95px;
}


.year-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 95px;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    width: 95px;
    height: 40px;
    background: var(--color-bg);
    border: 1px solid var(--color-secondary);
    color: var(--color-text);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.year-dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: var(--color-bg);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    list-style: none;
    padding: 4px 0;
    margin: 0;
    z-index: 999;
    top: 100%;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1),
            opacity 0.2s ease;
}

#selectedYear {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--color-text);
}
.year-dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.icon-chevron {
    transition: transform 0.25s ease;
    fill: var(--color-text);
}

.year-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: color 0.2s ease,  ease;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--color-text);
    
}

.year-dropdown li:hover {
    color: #F87719;
    transform: scale(1.15);
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.search-btn:hover {
    background: var(--color-bg);
    border: 1px solid transparent;
    background-image:
        linear-gradient(var(--color-bg), var(--color-bg)),
        linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
}

.year-btn.open .icon-chevron {
    transform: rotate(180deg);
}

.search-btn svg {
    position: relative;
}

.film-input {
    position: relative;
}


.film-input .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: var(--color-text);
    pointer-events: none;
}

.country-input-wrapper {
    position: relative;
    width: 100%;
}

/* açık hali */
.cntry-select.open .country-list {
    display: block;
}

/* item */
.country-list li {
    padding: 8px 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    position: relative;
    left: 9px;
}



.country-list li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 7px;
    right: 18px;
    bottom: 0;
    height: 1px;
    background: var(--color-secondary);
    
}

.country-list li:hover {
    color: #F87719;
    transform: scale(1.1);
}

.cntry-select {
    position: relative;
    width: 224px;
}

.cntry-select .icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: var(--color-text);
    pointer-events: none;
}

#selectedCountry {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    pointer-events: none;
    color: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}




.cntry-select.open #countryIcon {
    transform: rotate(180deg);
    opacity: 1;
    pointer-events: auto;
}

.cntry-select.has-value #selectedCountry {
    display: none;
}

.cntry-select {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex-wrap: nowrap;
}


.country-chevron {
    flex-shrink: 0;
    color: var(--color-text);
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.25s ease;
}

.country-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    list-style: none;
    padding: 6px 0;
    margin: 0;
    z-index: 1000;
    display: none;
    transition: transform 0.25s ease, opacity 0.2s ease;
}

.country-select {
    position: relative;
}

.cntry-select.open {
    display: block;
}

.cntry-select.open .country-chevron {
    transform: translateY(-50%) rotate(180deg);
}

.search-clear-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color:var(--color-text);
}

.search-clear-btn:hover {
    color: #F87719;
}
