.catalog-page {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}

.hero1 {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 18px;
    width: 280px;
    height: 406px;
    margin: 0 auto;
}
.movie-details,
.section {
    width: 100%;
    padding: 0;
    
}

.hero-backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

.movie-details {
    padding: 0px 20px;
    max-width: 320px;
    margin: 0 auto;
}

.movie-meta-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    font-size: 13px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.section-header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.section-header1 h2 {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    width: 184px;
    white-space: nowrap;
    padding-left: 20px;
}

.section-header h2 {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    width: 123px;
    white-space: nowrap;
    padding-left: 19px;
}

.section-header a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}

.see-all {
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
    padding-right: 20px;
}

.weekly-trends {
    width: 100%;
    padding: 0 20px;
    padding-bottom: 32px;
}

.monthly {
    position: relative;
    z-index: 3;
    display: block;
}

.monthly h1 {
    font-size: 18px;
    color: #fff;
}

.weekly-rating {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.weekly-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.movie-card {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    max-width: 280px;
    margin: 0 auto;
}

#moviesContainer{
    display: grid;
    gap: 16px;
    width: 100%;
}

#emptyMessage {
    display: block;
    gap: 8px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 48px;
    color: rgba(17, 17, 17, 1);
    width: 100%;
}

.movie-card img {
    width: 100%;
    height: 406px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}


.movie-card-overlay {
    position: absolute;
    display: flex;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0.6) 75%,
                rgba(0, 0, 0, 0.9) 100%);
    inset: 0;
    z-index: 1;
    border-radius: 5px;
}

.movie-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0));
}

.movie-card-text { 
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.movie-card-text h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.67em;
    font-size: 12px;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
}

.movie-card-text p {
    color: rgba(183, 183, 183, 1);
    font-family: 500;
    font-size: 12px;
    line-height: 1.67;
}

.movie-title {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 4px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    word-break: break-word;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    font-family: 500;
    font-size: 12px;
    line-height: 1.67em;
    opacity: 0.85;
    color: rgba(183, 183, 183, 1);
    white-space: normal;
    word-break: break-word;
}

.movie-title,
.movie-meta {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.movie-rating-stars {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 12px;
    bottom: 17px;
    line-height: 1;
    padding-bottom: 3px; 
    flex-shrink: 0;
}

.star {
    width: 14px;
    height: 14px;
}

.movie-head {
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    padding-left: 3px;
    padding-bottom: 20px;
}

#movieDate {
    color: #F87719;
}


#movieGenre{
    padding-top: 5px;
    padding-top: 0;
    margin-right: 0;
    padding-right: 12px;

}

#movieVoteAvg,
#movieVoteCount,
#movieAbout,
#moviePopularity,
#movieGenre{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282828;
    font-family: 'Roboto',sans-serif;
}



.meta-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}

.meta-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

#moviePopularity{
    padding-right: 20px;
}

.movie-meta1 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.movie-details {
    max-width: 320px;
    margin: 0 auto;
}

.movie-about {
    margin-top: 20px;
}

.movie-about p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.5;
}
#movieVoteAvg {
    min-width: 32px;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

#movieVoteCount {
    min-width: 32px;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.stick {
    color: rgba(248, 248, 248, 1);
}

#movieOverview {
   padding-top: 16px;
   text-align: justify;
   padding-bottom: 24px;
   font-size: 14px;
   font-weight: 400;
   color: rgba(40, 40, 40, 1);
   line-height: 1.43;
}

.meta-value {
    min-width: 90px;
    text-align: center;
    margin: 0 auto;
}

.genre {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    line-height: 1.4;
    text-align: center;
}

.subButon {
    background: linear-gradient(to bottom,
                rgba(255, 194, 38, 1),
                rgba(248, 65, 25, 1));
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: rgba(17, 17, 17, 1);
    width: 121px;
    height: 38px;
    gap: 10px;
    margin-top: 20px;
    border-radius: 74px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.subButon:hover {
    background: #fff;
    border: 1px solid transparent;
    background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
}
#libraryToggleBtn{
    margin-bottom: 40px;
}

#libraryToggleBtn.active{
    white-space: nowrap;
    max-width: 176px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    background: #fff;
    border: 1px solid transparent;
    background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
    margin-bottom: 40px;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    padding: 20px;
}


.search-input,
.search-input1,
.search-select {
    height: 44px;
    padding: 0 14px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    outline: none;
    background-color: #fff;
}


.search-input {
    flex: 2;
    max-width: 173px;
    height: 40px;
    color: #595959;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}


.search-select {
    flex: 1;
    width: 95px;
    height: 40px;
}


.search-input1 {
    flex: 2;
    max-width: 224px;
    height: 40px;
    color: #595959;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.search-input,
.search-input1,
.search-select {
    border: 1px solid #595959;
    border-radius: 8px;
}


.year-select {
    position: relative;
    background: #fff;
    width: 95px;
}


.year-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 95px;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    width: 95px;
    height: 40px;
    background: #fff;
    border: 1px solid #595959;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}


.year-dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #595959;
    border-radius: 8px;
    list-style: none;
    padding: 4px 0;
    margin: 0;
    display: none;
    z-index: 999;
    top: 100%;
}
#selectedYear {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #595959;
}
.year-dropdown.open {
    display: block;
}

.year-btn .icon {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.year-btn.open .icon {
    transform: rotate(0deg);
}

.year-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: color 0.2s ease,  ease;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    
}

.year-dropdown li:hover {
    color: #F87719;
    transform: scale(1.15);
}

.year-dropdown li[data-year=""] {
    display: none;
}

.icon-chevron {
    position: absolute;
    width: 16px;
    height: 16px;
    fill: #F84119;
}

.icon-search3 {
    margin: 0 auto;
}


.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    cursor: pointer;
}

