.page-container{
   font-family: var(--font-main);
   max-width: 320px;
   margin: 0 auto;
}
.container .search-movie{
   font-weight: 400;
   font-size: 20px;
   line-height: 1.4;
   padding-top: 29px;
   text-align: center;
   padding-bottom: 20px;
   color: var(--color-text);
   background-color: transparent;
}


.hidden {
    display: none;
} 

.search-button {
display: block;
font-weight: 500;
font-size: 12px;
line-height: 1.4;
width: 121px;
height: 38px;
margin: 0 auto;
border-radius: 74px;
border: none;
background: linear-gradient(to bottom,
                rgba(255, 194, 38, 1),
                rgba(248, 65, 25, 1));
cursor: pointer;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}

.search-button:hover {
background: #fff;
border: 1px solid transparent;
background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(160deg, #FFC226, #F84119);
background-origin: border-box;
background-clip: padding-box, border-box;
color: #F87719;
}

#movieList {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding:36px 16px;
    padding-bottom: 24px;
    margin: 0 auto;
    box-sizing: border-box; 
}

.movie-card {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    max-width: 280px;
    margin: 0 auto;
}

.movie-card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
}

.movie-card-text h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.67em;
    font-size: 12px;
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.movie-card img {
    width: 100%;
    height: 406px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}


.movie-card-overlay {
    position: absolute;
    display: flex;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.6) 75%,
            rgba(0, 0, 0, 0.9) 100%);
    inset: 0;
    z-index: 1;
    border-radius: 5px;
}

.movie-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0));
}

.movie-card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.movie-card-text h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.67em;
    font-size: 12px;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
}

.movie-card-text p {
    color: rgba(183, 183, 183, 1);
    font-family: 500;
    font-size: 12px;
    line-height: 1.67;
}

.star {
    width: 18px;
    height: 18px;
    margin-right: -1px;
}

.movie-rating-stars {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 12px;
    gap: 0;
    bottom: 17px;
    line-height: 1;
    padding-bottom: 3px;
    flex-shrink: 0;
    transform: scale(1.1);
}

.genre-wrapper {
    display: inline-block;
    /* veya flex */
}

.genre-select {
    transition: opacity 0.25s ease;
}

.genre-hidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
    overflow: hidden;
    display: none;
}

.genre-select {
    position: relative;
    width: 173px;
    max-width: 280px;
    display: inline-block;
    padding-left: 16px;
    padding-top: 40px;
}

.genre-btn {
    width: 173px;
    height: 40px;
    border-radius: 8px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    left: 4px;
    cursor: pointer;
    background: var(--color-bg);
    border: 1px solid var(--color-secondary);
    position: relative;
    z-index: 2;
}



.genre-dropdown {
    position: absolute;
    width: 172px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--color-bg);
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
    z-index: 1000;
}

.genre-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: 0;
    width: 172px;
}

.genre-dropdown li {
    height: 44px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 0.8px solid var(--color-secondary);
    color: var(--color-text);
}

.genre-dropdown li:hover,
.genre-dropdown li:active {
    color: var(--color-primary);
}

.genre-dropdown li:last-child {
    border-bottom: none;
}

.icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(180deg);
}

.load-more-btn {
    opacity: 1;
    pointer-events: auto;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    width: 121px;
    height: 38px;
    margin: 0 auto;
    border-radius: 74px;
    border: none;
    background: linear-gradient(to bottom,
                rgba(255, 194, 38, 1),
                rgba(248, 65, 25, 1));
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.load-more-btn:hover {
    background: var(--color-bg);
    border: 1px solid transparent;
    background-image:
                linear-gradient(#fff, #fff),
                linear-gradient(160deg, #FFC226, #F84119);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #F87719;
}


.load-more-btn.hidden {
    opacity: 0;
    pointer-events: none;
}