.page-container{
   font-family: 'Roboto', sans-serif;
   max-width: 320px;
   max-height: 317px;
   margin: 0 auto;
}
.container .search-movie{
   font-weight: 400;
   font-size: 20px;
   line-height: 1.4;
   padding-top: 29px;
   text-align: center;
}

.search-button{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: rgba(17, 17, 17, 1);
    width: 121px;
    height: 38px;
    gap: 10px;
    margin-top: 20px;
    border-radius: 74px;
    border: none;
    background: linear-gradient(to bottom,
            rgba(255, 194, 38, 1),
            rgba(248, 65, 25, 1));
    cursor: pointer;
    margin: 0 auto;
}

#movieList {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding:36px 16px;
    padding-bottom: 24px;
    margin: 0 auto;
    box-sizing: border-box; 
}

.equipment-page .movie-card {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 406px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid red;
}

.movie-card-rating {
    margin-left: auto;
    font-size: 13px;
    letter-spacing: 2px;
    color: #ffb400;
    width: auto;
    height: auto;
    text-align: right;
}
.equipment-page .movie-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
    pointer-events: none;
    z-index: 2;
}


.equipment-page .movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: block;
}

.equipment-movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    gap: 2px;
    z-index: 3;
    background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0.6) 75%,
                rgba(0, 0, 0, 0.9) 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.equipment-movie-info h3 {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    font-size: 0.75em;
    line-height: 1.25em;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.equipment-movie-info p {
    color: rgba(183, 183, 183, 1);
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.25em;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.genre-select {
    position: relative;
    width: 173px;
    max-width: 280px;
    display: inline-block;
    padding-left: 16px;
    padding-top: 40px;
}

.genre-btn {
    width: 173px;
    height: 40px;
    border-radius: 8px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    left: 4px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(89, 89, 89, 1);
    position: relative;
    z-index: 2;
}

.genre-dropdown {
    position: absolute;
    width: 172px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(89, 89, 89, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
    z-index: 1000;
}

.genre-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: 0;
    width: 172px;
}

.genre-dropdown li {
    height: 44px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 0.8px solid rgba(89, 89, 89, 0.9);
}

.genre-dropdown li:hover,
.genre-dropdown li:active {
    color: rgba(248, 119, 25, 1);
}

.genre-dropdown li:last-child {
    border-bottom: none;
}

.icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}

.load-more-btn {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: rgba(17, 17, 17, 1);
    width: 121px;
    height: 38px;
    gap: 10px;
    margin-top: 20px;
    border-radius: 74px;
    border: none;
    background: linear-gradient(to bottom,
            rgba(255, 194, 38, 1),
            rgba(248, 65, 25, 1));
    cursor: pointer;
    margin: 0 auto;
}
