:root {

    --color-primary: rgba(248, 65, 25, 1);
    /* #F84119 */
    --color-secondary: rgba(255, 194, 38, 1);
    /* #FFC226 */


    --color-black: #111111;
    --color-dark-gray: #282828;
    --color-gray: #595959;
    --color-light-gray: #B7B7B7;
    --color-extra-light-gray: #F8F8F8;
    --color-white: #FFFFFF;

    --gradient-primary: linear-gradient(180deg,
            rgba(255, 194, 38, 1) 0%,
            rgba(248, 65, 25, 1) 100%);

    --gradient-secondary: linear-gradient(180deg,
            rgba(248, 65, 25, 1) 0%,
            rgba(248, 159, 25, 0.68) 100%);

    --shadow-drop: 0px 4px 16px rgba(1, 1, 1, 0.25);
}