<header class="header">
  <div class="container header-container">
    <a href="/" class="logo-link">
      <svg class="logo-icon" width="32" height="32">
        <use href="/src/images/icon.svg/logo.svg"></use>
      </svg>
      <span class="logo-text desktop-only">Cinemania</span>
    </a>

    <nav class="desktop-nav">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link active">Home</a></li>
        <li><a href="./catalog.html" class="nav-link">Catalog</a></li>
        <li><a href="./library.html" class="nav-link">My library</a></li>
      </ul>
    </nav>

    <div class="header-right">

        <button type="button" class="menu-open-btn mobile-only" id="menu-open-btn">
            <span class="menu-text">MENU</span>
        </button>

      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>

      
    </div>
    
    <nav class="mobile-menu">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link active">Home</a></li>
        <li><a href="./catalog.html" class="nav-link">Catalog</a></li>
        <li><a href="./library.html" class="nav-link">My library</a></li>
      </ul>
    </nav>
  </div>
</header>