<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <img src="./src/images/logo.svg" alt="Cinemania" class="logo-icon">
      <span class="logo-text">Cinemania</span>
    </a>

    <div class="header-right">
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>

      <button type="button" class="menu-open-btn">
        <span class="menu-text">MENU</span>
      </button>
    </div>
    
    <nav class="mobile-menu">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link active">Home</a></li>
        <li><a href="./catalog.html" class="nav-link">Catalog</a></li>
        <li><a href="./library.html" class="nav-link">My library</a></li>
      </ul>
    </nav>
  </div>
</header>