<section class="hero" id="hero-section" data-page="dynamic">
      <div class="container hero-content">
        <h1 class="hero-title">Let's Make Your Own Cinema</h1>
        <p class="hero-description">Is a guide to creating a personalized movie...</p>
        <button type="button" class="btn-primary" id="hero-btn">Get Started</button>
      </div>
</section>
 <section class="upcoming-section">
    <div id="upcomingHero" class="upcoming-card">
        <div class="image-wrapper">
            <img id="heroBackdrop" class="hero-img" alt="Backdrop">
            <div class="overlay-content">
                <h2 id="movieTitle" class="movie-title"></h2>
                <div class="bottom-info">
                    <div class="meta-data">
                        <span id="movieGenre"></span>
                        <span class="separator">|</span>
                        <span id="movieDate"></span>
                    </div>
                    <div class="rating-stars" id="movieRating">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upcoming-actions">
         <button class="subButon" id="addToLibrary">Add to my library</button>
    </div>
</section>